{% extends 'base.html.twig'%}

{# {{ parents() }} récupère le contenu du block qu'on est en train d'écraser #}
{% block title %}
   {{ parent() }} | Home
{% endblock %}


{% block body %}
   <h1>Coucou</h1>
{% endblock %}